
<h2>Create New Product</h2>


<p>Id : @ViewBag.Id</p>
<p>Name : @ViewBag.name</p>

<form asp-action="create" asp-controller="Product" method="post" >
	<div class="form-group">
		<label class="form-label">Name</label>
		<input type="text" name="Name" class="form-control" />
	</div>

	<div class="form-group">
		<label class="form-label">Price</label>
		<input type="text" name="Price" class="form-control" />
	</div>

	<div class="form-group">

		<input type="submit" value="Create" class="btn btn-primary" />
	</div>

</form>