<h2>
	Product Listing Page
</h2>

<a asp-action="Create" asp-controller="Product" asp-route-id="10" asp-route-name="Ajay Bhosle">Create New</a> |
<a asp-action="Details" asp-controller="Product">Details</a> 
