@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 highlight="red" class="display-4">Welcome</h1>
    <p highlight="yellow" >Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<customButton type="submit" value="click me"></customButton>
<customImage src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKf6AIxapOMdJYTcj1FSWE5-UPSm99lxns5w&s" alt="AB Image"></customImage>