
<h1>Category Page</h1>

@section sidebar{ 
    @Html.ActionLink("Create","Create","Category")
    <br />

   @*  @Html.ActionLink("Details","Details","Category") *@

   <a asp-action="Details" asp-controller="Category" asp-route-id="100">Details</a>
}

@Html.Partial("_partialView")

@{
    Html.RenderPartial("_partialView");
} 

@* Use Tag helpers *@

 <partial name="_partialView"/> 


@await Component.InvokeAsync("first",2)