<footer class="border-top pt-lg-5 footer text-muted">
    <div class="container">
        &copy; 2025 - _01_MVC_Core_Introduction - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>