<style>
    .custom-padding {
        padding-top: -100px; 

    }
</style>

<div class="container my-5 custom-padding">
    <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center">
            <h2 class="display-5 font-weight-bold">Explore Our Latest Posts</h2>
            <p class="lead mb-4">Dive into various topics and start reading our latest blog posts.</p>
            <a href="@Url.Action("Index", "Post")" class="btn btn-lg btn-primary shadow-sm">Explore Posts</a>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="@Url.Action("Index", "Post")" class="btn btn-success btn-lg shadow-sm">View All Posts</a>
    </div>
</div>
